.qsort {
    padding: 1vmin;
    margin-inline: 1vmin;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.array-elements, .qsort-input, .qsort-buttons, .qsort-result {
    font-size: calc(5px + 1.25vmin);
    font-weight: 500;
}

.array-elements {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-inline: 1vmin;
    height: calc(5px + 1.5vmin);
}

.qsort-input {
    height: calc(5px + 1.5vmin);
    display: block;
    margin-inline: auto;
}

.qsort-buttons {
    transition: 0.5s;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: none;
    margin-bottom: 1vmin;
    margin-top: 1vmin;
}

.qsort-buttons:hover {
    background-color: #1eb2a6;
    color: #fff;
}